{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

<h1> Bienvenu sur Binge Prime !</h1>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}